*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background:#ebebeb;
}
.daohan{
	width:100%; 
	height:77px;
	background:#ebebeb; 
	box-shadow:0px 0px 20px 3px rgba(0,0,0,0.2);
	display: none;
	z-index: 50;
	position:fixed;
	top: 0;
	left: 0;
}
.toubu{
	width: 100%;
	height: 94px;
	background: #0a0a0a;
}
.tubiao{
	width: 180px;
	height: 60px;
	float: left;
	margin-left: 150px;
	margin-top: 17px;
	font-size: 24px;
	color: #fff;
	line-height: 60px;
	font-style:oblique;
}
.tubiao img{
	width: 180px;
	height: 60px;
}
.toubuy{
	width:210px; 
	height:94px; 
	background:#0a0a0a; 
	float: right;
	margin-right:162px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.toubuy a{
	font-size:18px ;
	color:#90b9c8;
}
.toubuy a:hover{
	
	color:#fff;
}
.daohang{
	width:100%; 
	height:77px; 
	background:#ebebeb; 
}
.daohang1{
	width:1226px; 
	height:77px; 
	background:#ebebeb; 
	margin: 0 auto;

}
.daohang1 a{
	display: block;
	width:auto;
	height: 77px;
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height:77px;
	font-size:18px ;
	color:#666666 ; 
	position: relative;
}
.daohang1 a:nth-child(3){
	font-weight: bold;

}
.daohang1 a:hover{
	color:#6ba0eb ; 
}
.rs{
	width:164px; 
	height:114px; 
	background:#fff; 
	position: absolute;
	top:60px ;
	left:-11px ;
	padding-top: 10px;
	box-sizing: border-box;
	display: none;
	border-radius: 5px;
	z-index: 50;
	box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.1);
}
.rs1{
	width:100%; 
	height:47px; 
	 
	
}
.rs2{
	width:100%; 
	height:47px; 
	
}
.rs1 p{
	width: 100px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.rs2 p{
	width: 100px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.rs1:hover{
	background:#ededed; 
}
.rs2:hover{
	background:#ededed; 
}
.rs1:hover p{
	color:#6ba0eb;
}
.rs2:hover p{
	color:#6ba0eb;
}
.rl{
	width:164px; 
	height:206px; 
	background:#fff; 
	position: absolute;
	top:60px ;
	left:-11px ;
	padding-top: 10px;
	box-sizing: border-box;
	display: none;
	border-radius: 5px;
	z-index: 30;
	box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.1);
}
.rl1{
	width:100%; 
	height:47px; 
	 
	
}
.rl2{
	width:100%; 
	height:47px; 
	
}
.rl3{
	width:100%; 
	height:47px; 
	
}
.rl4{
	width:100%; 
	height:47px; 
	
}
.rl1 p{
	width: 100px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.rl2 p{
	width: 100px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.rl3 p{
	width: 100px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.rl4 p{
	width: 100px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.rl1:hover{
	background:#ededed; 
}
.rl2:hover{
	background:#ededed; 
}
.rl3:hover{
	background:#ededed; 
}
.rl4:hover{
	background:#ededed; 
}
.rl1:hover p{
	color:#6ba0eb;
}
.rl2:hover p{
	color:#6ba0eb;
}
.rl3:hover p{
	color:#6ba0eb;
}
.rl4:hover p{
	color:#6ba0eb;
}
.jl{
	width:164px; 
	height:206px; 
	background:#fff; 
	position: absolute;
	top:60px ;
	left:-11px ;
	padding-top: 10px;
	box-sizing: border-box;
	display: none;
	border-radius: 5px;
	z-index: 30;
	box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.1);
}
.jl1{
	width:100%; 
	height:47px; 
	 
	
}
.jl2{
	width:100%; 
	height:47px; 
	
}
.jl3{
	width:100%; 
	height:47px; 
	
}
.jl4{
	width:100%; 
	height:47px; 
	
}
.jl1 p{
	width: 120px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.jl2 p{
	width: 120px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.jl3 p{
	width: 120px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.jl4 p{
	width: 120px;
	font-size:18px; 
	color:#666666;
	line-height:47px; 
}
.jl1:hover{
	background:#ededed; 
}
.jl2:hover{
	background:#ededed; 
}
.jl3:hover{
	background:#ededed; 
}
.jl4:hover{
	background:#ededed; 
}
.jl1:hover p{
	color:#6ba0eb;
}
.jl2:hover p{
	color:#6ba0eb;
}
.jl3:hover p{
	color:#6ba0eb;
}
.jl4:hover p{
	color:#6ba0eb;
}
.lb{
	width:1226px; 
	height:484px; 
	
	margin: 0 auto;
	position: relative;
}
.lb1{
	width:1226px; 
	height:484px;
	border-radius: 10px; 
	position: absolute;
	top: 0;
	left: 0;
	z-index:5;
}
.lb1 img{
	width:1226px; 
	height:484px;
	border-radius: 10px;  
}
.lb2{
	width:132px; 
	height:12px;
	position: absolute;
	bottom: 20px;
	left: 607px; 
	display: flex;
	justify-content: space-between;
	z-index: 20;
}
.lb2 div{
	width:12px; 
	height:12px;
	border-radius: 50%;
	background:#dddddd; 
}
.lb2 .hot{
	background: #fff;
}
.rm{
	width:1226px; 
	height:484px; 
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	border-radius: 10px;
	background:#fff; 
	margin: 76px auto;
}
.rms{
	width:1226px; 
	height:70px;
	padding-left: 20px;
	padding-right: 14px;
	padding-top: 14px;
	box-sizing: border-box; 
	border-bottom: 1px solid #dcdcdc;
	
}
.rms p:nth-child(1){
	font-size:22px; 
	color:#666666; 
	
	
}
.rms p:nth-child(2){
	font-size:10px; 
	color:#666; 
	
}
.z{
	width:88px; 
	height:46px;
	float: left; 
}
.hz{
	width:83px; 
	height:36px; 
	
	float: right;
}
.hz1{
	width:36px; 
	height: 36px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	float: left;
	box-sizing: border-box;
	text-align: center;
	line-height: 36px;
}
.hz2{
	width:36px; 
	height: 36px;
	border-radius: 5px;
	float:right;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	text-align: center;
	line-height: 36px;
}
.rmx{
	width:304px; 
	height:412px; 
	border-bottom-left-radius:10px;
	border-right: 1px solid #e1e1e1; 
}
.rmx:hover{
	box-shadow:0px 0px 30px 6px rgba(0,0,0,0.1) inset;
}
.rmx:hover img{
	transform:scale(1.2);
}
.rmxs{
	width:304px; 
	height:306px;
	
	padding-top: 50px;
	padding-left: 45px;
	box-sizing: border-box;
	position: relative; 
}
.rmxs img{
	width:206px; 
	height:206px; 
	position: absolute;
	top: 50px;
	left: 45px;
	z-index: 5;
	transition: all 1s;

}
.rmxh{
	width:38px; 
	height: 14px;
	margin-left: 85px;
	margin-top: 240px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.rmxh div{
	width:14px; 
	height: 14px;
	border-radius: 50%;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	z-index: 20;
	
}
.rmxh .hot1{
	border: 1px solid #b5b5b5;
}
.rmxx{
	width: 303px;
	height: 70px;
	margin-top: 20px;
}
.rmxx p:nth-child(1){
	font-size: 16px;
	text-align: center;
	color:#424242 ;
}
.rmxx p:nth-child(2){
	font-size: 12px;
	text-align: center;
	color:#b2b2b2 ;
}
.dx{
	width:1226px; 
	height:896px; 
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
	border-radius: 10px;
	background:#fff; 
	margin: 76px auto;
}
.dxs{
	width:1226px; 
	height:70px;
	padding-left: 20px;
	padding-right: 14px;
	padding-top: 14px;
	box-sizing: border-box; 
	border-bottom: 1px solid #dcdcdc;
	
}
.dxs p:nth-child(1){
	font-size:22px; 
	color:#666666; 
	
	
}
.dx p:nth-child(2){
	font-size:10px; 
	color:#666; 
	
}
.z{
	width:88px; 
	height:46px;
	float: left; 
}
.hz{
	width:83px; 
	height:36px; 
	
	float: right;
}
.dxtp{
	width:608px; 
	height:412px;
	float: left; 
}
.dxtp img{
	width:608px; 
	height:412px; 
}
.dxx{
	width:304px; 
	height:412px; 
	border-bottom-left-radius:10px;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1; 
	float: left;
}
.dxx:hover{
	box-shadow:0px 0px 30px 6px rgba(0,0,0,0.1) inset;
}
.dxx:hover img{
	transform:scale(1.2);
}
.dxxs{
	width:304px; 
	height:306px;
	
	padding-top: 50px;
	padding-left: 45px;
	box-sizing: border-box;
	position: relative; 
}
.dxxs img{
	width:206px; 
	height:206px; 
	position: absolute;
	top: 50px;
	left: 45px;
	z-index: 5;
	transition: all 1s;

}
.dxxh{
	width:38px; 
	height: 14px;
	margin-left: 85px;
	margin-top: 240px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.dxxh div{
	width:14px; 
	height: 14px;
	border-radius: 50%;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	z-index: 20;
	
}
.dxxh .hot2{
	border: 1px solid #b5b5b5;
}
.dxxx{
	width: 303px;
	height: 70px;
	margin-top: 20px;
}
.dxxx p:nth-child(1){
	font-size: 16px;
	text-align: center;
	color:#424242 ;
}
.dxxx p:nth-child(2){
	font-size: 12px;
	text-align: center;
	color:#b2b2b2 ;
}
.lby{
	width:100%; 
	height:273px;
	background: #fff; 
}
.lbyh{
	width:1226px; 
	height:273px;
	margin: 0 auto;
	padding-top:110px; 
	box-sizing: border-box;
}
.lbyz{
	width:1226px; 
	height:170px;
	
}
.lbyzz{
	width:790px; 
	height:170px;
	float: left;
}
.lbyzy{
	width:436px; 
	height:170px;
	float: left;
	padding-top: 29px;
	padding-left: 194px;
	box-sizing: border-box;
}
.lbyzy h1{
	font-size:28px ;
	color:#646464 ;
}
.lbyzy p{
	font-size: 12px;
	color:#d2c6c6 ;
}
.lbyzz ul{
	width:16%; 
	height:170px;
	
	float: left;
	position: relative; 
}
.lbyzz ul h2{
	font-size:14px ;
	font-weight:normal;
	color:#646464 ;
	margin-bottom: 16px;
	cursor: pointer;
	text-align: center;
}
.lbyzz ul li{
	font-size:10px ;
	color:#969696 ;
	margin-bottom: 13px;
	cursor: pointer;
	text-align: center;
}
.lbyzz ul li:hover{
	color:blue ;
}
.zxly{
	display: block;
	width:134px; 
	height:34px;
	background: #f7f7f7;
	border-radius: 8px; 
	border:1px solid #dcdcdc ;
	text-align: center;
	line-height: 34px;
	float: right;
	margin-top: 22px;
	margin-right: 30px;
	font-size:12px ;
	color:#5079d9 ;
	cursor: pointer;
}
.zxly:hover{
	background:#ededed ;
}
.ewm{
	width: 180px;
	height:180px;
	background:#fff;
	position: absolute;
	top: -100px;
	left:-20px;
	display: none;
}
.ewm img{
	width: 180px;
	height:180px;

}
.jt{
	width:100%; 
	height:61px;
	background: #f5f5f5; 
}
.jtz{
	width:50%; 
	height:61px;
	float: left;
	font-size:12px ;
	color:#757575; 
	text-align: center;
	line-height: 61px;
}
.jty{
	width:50%; 
	height:61px;
	float: right; 
}
.jtzw{
	width:86px; 
	height:61px;
	
	float: right;
	margin-right: 140px;
	text-align: center;
	line-height: 61px;
	position: relative;
}
.xl{
	width:121px; 
	height:128px; 
	background:yellow;
	border-radius: 5px;
	position: absolute; 
	top:-120px ;
	left: -30px;
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0,0.2);
	display: none;
	padding-top: 20px;
	box-sizing: border-box;
}
.xl p{
	height:30px ;
	font-size:12px ;
	line-height:30px;
	color:#956695 ;
}
.xl p:hover{
	background: #ededed;
}
.gs{
	width: 100%;
	height: 6577px;
	background:#ededed ;
}
.gs1{
	width:1226px;
	height: 6577px;
	background: yellow;
	margin: 0 auto;
}
.gs1 img{
	width:1226px;
	height: 6577px;
}
.bt{
	width:100%;
	height: 100px;
	background:#ededed ;
	overflow: hidden;
}
.gg{
	width: 100%;
	height: 77px;
	background:#ededed ;
}
.gg1{
	width:1226px;
	height:77px;
	margin: 0 auto;
	position: relative;
}
.gg1 span{
	color:#af9696 ;
	line-height: 77px;
	margin-right: 20px;
	cursor: pointer;
}
.gg1 span:hover{
	color:blue ;
}
.dt{
	width: 1226px;
	height: 858px;
	background: #fff;
	margin: 0 auto;
	border-radius: 8px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	position: relative;
}
.dth{
	width: 1224px;
	height: 858px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;

}
.dtt{
	width: 25%;
	height:429px;
	float: left;
	border-right:1px solid #dbdbdb; 
	border-bottom:1px solid #dbdbdb;
	box-sizing: border-box;
	padding-top:50px ;
	 
}
.dtt img{
	width: 206px;
	height: 206px;
	cursor: pointer;
	margin-bottom: 60px;
	margin-left: 50px;
	transition: all 1s;

}
.dtt p{
	font-size:10px ;
	color:#b2b2b2 ;
	cursor: pointer;
	text-align: center;
}
.dtt h3{
	font-size:16px ;
	color:#424242 ;
	font-weight: normal;
	cursor: pointer;
	text-align: center;
	line-height:30px;
}
.ckxq{
	width:80px; 
	height: 26px;
	border:1px solid #e1e1e1 ;
	border-radius: 5px;
	margin-left: 115px;
	margin-top: 10px;
	display: none;
	background: #fdfdfd;
	font-size:10px ;
	color:#424242 ;
	text-align: center;
	line-height: 26px;
	cursor: pointer;

}
.ckxq:hover{
	background:#e1e1e1 ;
}
.dtt:hover .ckxq{
	display: block;

}
.dtt:hover img{
	transform:scale(1.2);
}
.dtt:hover{
	box-shadow:0px 0px 40px 10px rgba(0,0,0,0.1) inset;
}
.gg1 input{
	float: right;
	width: 275px;
	height: 36px;
	border:1px solid #ccc ;
	border-radius: 5px;
	outline: none;
	margin-top: 25px;
	margin-right: 10px;
}
.gg1 i{
	position: absolute;
	right: 20px;
	top: 34px;
	font-size: 22px;
	cursor: pointer;
}
.bth{
	width: 160px;
	height:40px; 
	background:; 
	display: flex;
	justify-content: space-between;
	margin:35px  auto ;
}
.bth div{
	width:40px; 
	height:40px; 
	background:#fff; 
	border-radius: 5px;
	border:1px solid #dcdcdc;
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
	color: #76838f;
	cursor: pointer;
}
.bth div:hover{
	background: #ededed;
}
.bth .hh{
	background: #5777be;
	color: #fff;
}
.bth .hh:hover{
	background: #5777be;
}